<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
</head>
<body>
    <main>
        <h1>Blog</h1>
        <ul>
            {{range .Posts}}
                <li>
                    <article>
                        <header>
                            <h2>{{.Title}}</h2>
                            <input type="checkbox" {{if .Avaliable}}checked{{end}}>
                        </header>
                        {{.Content}}
                    </article>
                </li>
            {{end}}
        </ul>
    </main>
</body>
</html>